In [1]:
import pandas as pd  # pandas 라이브러리 import
from sklearn.model_selection import train_test_split  # 데이터 분할을 위한 함수 import
from sklearn.linear_model import LogisticRegression  # 로지스틱 회귀 모델 import
from sklearn.ensemble import RandomForestClassifier  # 랜덤 포레스트 모델 import
from sklearn.metrics import accuracy_score, f1_score  # 모델 평가 지표 import

In [9]:
# 1. 팀 기록 데이터, 선수 기록 데이터, 선수 맞대결 기록 데이터 로드
team_data = pd.read_csv('baseball/team_stats/team_hitter.csv')  # 팀 기록 데이터 로드

import os
os.chdir('baseball/')
player_data = pd.read_csv('player_data.csv')  # 선수 기록 데이터 로드
# matchup_data = pd.read_csv('matchup_data.csv')  # 선수 맞대결 기록 데이터 로드

,팀,시즌,WAR,oWAR,dWAR,G,PA,ePA,AB,R,...,SO,GDP,SH,SF,AVG,OBP,SLG,OPS,R/ePA,WRC+
0,리그,22,246.20,246.20,0.01,17841,55963,55206,49276,6523,...,10469,1076,610,422,0.260,0.333,0.379,0.712,0.118,100.0
1,리그,19,246.18,246.25,-0.07,17618,55627,55099,49225,6548,...,9595,1122,436,505,0.267,0.337,0.385,0.722,0.119,100.0
2,리그,20,245.60,245.60,0.00,18815,56643,56060,49658,7436,...,9855,1174,486,468,0.273,0.349,0.409,0.758,0.133,100.0
3,리그,23,243.67,243.67,0.00,18236,56231,55462,49236,6622,...,9970,1015,673,485,0.263,0.338,0.374,0.712,0.119,100.0
4,리그,21,242.76,242.76,0.00,18536,56076,55470,48402,6896,...,10196,1078,497,493,0.260,0.346,0.383,0.729,0.124,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,SSG,24,8.12,8.00,0.12,755,2444,2419,2142,313,...,468,39,19,20,0.267,0.344,0.398,0.742,0.129,91.2
62,키움,24,6.78,7.21,-0.43,714,2401,2385,2120,289,...,440,47,13,24,0.271,0.343,0.388,0.731,0.121,90.7
63,롯데,24,6.78,8.70,-1.92,775,2350,2338,2104,298,...,469,41,12,18,0.275,0.340,0.409,0.749,0.128,96.0
64,한화,20,5.73,6.12,-0.39,1886,5483,5430,4862,551,...,1163,119,45,25,0.245,0.320,0.338,0.658,0.102,74.5
65,롯데,19,5.29,11.08,-5.79,1823,5488,5446,4919,578,...,1085,108,35,40,0.250,0.316,0.358,0.674,0.106,81.4